/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    max-width: 100%;
    margin: 0 auto;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



body {
    background: #6D8B85;

}

#mainSec {
    margin: 0;
    padding-top: 18rem;
    padding-bottom: 23rem;
    background-image: url('imgs/psicoterapia-online3.webp');
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: inline-block;
}

@media (max-width: 1024px) {
    #mainSec {
        background-image: url(imgs/psicoterapia-mobile.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        .adjustMain {
            position: relative;
            top: 250px;
        }

        .title-wraper {
            background-color: rgba(0, 0, 0, 0.3);
            max-width: 80%;
            padding: 15px;
            border-radius: 5px;
            color: #fff;
            margin: 0 auto;


            h1 {
                color: #fff;
                word-break: break-word;
                font-size: 2rem;
                padding: 5px 0 10px 0;
            }

            h2 {
                font-size: 1rem;
            }

            h3 {
                font-size: 1.2rem;
            }
        }

    }

}

.btnCon {
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    border: 2px solid rgb(255, 255, 255);

}

.btnCon:hover {
    background-color: #A5593C;
    color: white;
    transition: 0.6s;
}

h3 {
    font-family: 'Caveat', sans-serif;
    /* font-family: 'Caveat', cursive; */
    font-size: 2.7rem;
    font-weight: 500;
    text-align: center;
    /* max-width: 80%; */
}

nav {
    padding-left: 0.5rem;
    border-left: 0.5rem;
    background-color: #A5593C;
    color: #000000;
    font-size: 1.5rem;
}

p {
    font-family: 'Manjari', 'Mulish', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    letter-spacing: 0.07rem;
    font-weight: 550;

}

#mainSec p {
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 1px;
}

#mainSec h3 {
    font-size: 2rem;
}

p span {
    color: #A5593C;
    font-weight: 900;
}

h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 3.7rem;
    color: rgb(10, 9, 9);
    margin: 5px;
    margin-bottom: 10px;
}


h2 {
    font-family: 'Manjari', 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: rgb(10, 9, 9);
    margin: 15px;
    text-align: center;
}


#logoNav {
    width: 110px;
    height: 60px;
    padding: 0;
}

.nav-link {
    color: #000000;
}

@media (max-width:1024px) {
    .sec2Row-it {
        max-width: 100%;
    }
}

.newH2 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
    text-align: right;

}

.newH2 span {
    width: 20%;
    border-bottom: 2px solid #A5593C;
    content: " ";


}

#secTrag .newH2 span {
    width: 40%;
    border-bottom: 2px solid #A5593C;
    content: " ";

}

/* .newH2 h2 {
    padding: -5px;
    margin: 0;
} */

#secTrag {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#secTrag p {

    padding: 0 2rem 1rem 5rem;
    text-align: left;
    line-height: 1.3rem;
    letter-spacing: 0.1rem;

}

#secTrag img {
    max-width: 70%;
    border-radius: 30px;
}

@media (max-width: 1024px) {
    #secTrag {
        img {
            max-width: 80%;
            min-width: 80%;
        }

        p {
            padding: 0 2rem 1rem 2rem;
        }

        .newH2 {
            padding-top: 1.5rem;
        }
    }
}

#secFunc {
    background-color: #D8E3DD;
}

#secFunc .secFunc-row {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#secFunc .secFunc-it {
    max-width: 20%;
    min-width: 300px;

    background-color: white;
    padding-top: 3rem;
    padding-bottom: 2rem;
    position: relative;

    .funcIcon {
        width: 100%;
        position: absolute;
        top: -40px;
        display: flex;
        justify-content: center;

        figure {
            background-color: #E8C3A8;
            padding: 15px;
            border-radius: 100%;
            width: fit-content;

            svg {

                width: 50px;
            }
        }



    }
}

#secFunc .newH2 {
    padding-top: 2rem;

}

#secFunc p {
    padding-top: 1rem;
}

#secFunc h3 {
    color: #A5593C;
}

#secFunc .btnCon {
    color: #A5593C;
    border: 2px solid #A5593C;

}

.btnCon2:hover {
    background-color: white;
    color: white;
    transition: 0.6s;
}

.btnCon3:hover {
    background-color: #E8C3A8;
    color: white;
    transition: 0.6s;
}

@media (max-width: 1024px) {
    #secFunc {
        .secFunc-it {
            max-width: 100%;
            min-width: 100%;
            border-radius: 5px;
        }

        padding: 30px;

    }
}


#secTC {
    background-color: #D8E3DD;
    padding: 10rem 5rem 5rem 5rem;
    align-items: center;
    margin: 0 auto;
}

#secTC .newH2 span {
    width: 30%;
    border-bottom: 2px solid #A5593C;
    margin: 0 auto;
}

.TC-row-double {
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
    border-radius: 1%;
}

#secTC h3 {
    color: #A5593C;
    padding: 0 0 2rem 0;

}

#secTC p {
    text-align: left;
}

#secTC .btnCon {
    color: #A5593C;
    border: 2px solid #A5593C;

}

.btnCon2:hover {
    background-color: white;
    color: white;
    transition: 0.6s;
}

/* .gB {
    border-right: 2px dashed #A5593C;
} */

.tct-row {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 1rem;
    margin: 0;
    background-color: white;
    border-radius: 50px;
    max-width: 80%;
    margin: 0 auto;
}

.tct-it {
    max-width: 32%;
    min-width: 20%;
    padding: 1rem 1rem 1rem 1rem;
    margin: auto;
}



@media (max-width:1024px) {
    #secTC {
        padding: 2rem 0 2rem 0;

        .tct-it {
            min-width: 100%;
            max-width: 100%;
        }

        .newH2 h2 {
            max-width: 100%;
            min-width: 100%;
            font-size: 3rem;
        }
    }
}

#sec-tt {
    background-color: #A5593C;
    padding: 2rem;
}

#sec-tt .gB {
    border-right: 2px solid white;
    margin: 5rem 0;
    content: " ";
}

#sec-tt h2 {
    color: white;
}


.tt-row {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 1rem;
    margin: 0;
    border-radius: 1%;
}

.tt-it {
    max-width: 24%;
    min-width: 24%;
    padding: 1rem;
    color: white;
    border-left: 2px solid white;
}

/* #sec-tt .newH2 span {
    background-color: white;
    color: white;
} */

.tt-row h3 {
    padding: 0 0 3rem 0;
}

@media (max-width: 1024px) {
    #sec-tt {
        .tt-it {
            max-width: 100%;
            min-width: 100%;
            border-left: 0;
            border-bottom: 2px solid white;
        }
    }
}

.videoRes iframe {
    width: 70%;
    aspect-ratio: 16/9;
}

@media (max-width: 1024px) {
    .videoRes iframe {
        width: 100%;
    }
}

.videoRes {
    padding: 5rem 0;
    background-color: #A5593C;
    text-align: center;
}


#secTrag2 {
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#secTrag2 p {

    text-align: left;
    line-height: 1.3rem;
    letter-spacing: 0.1rem;
    padding: 0 2rem 1rem 5rem;

}

#secTrag2 img {
    max-width: 100%;
    border-radius: 30px;
}

#secTrag2 .text {
    max-width: 50%;
}

@media (max-width: 1024px) {
    #secTrag2 {
        padding: 2rem 0;
        max-width: 100%;
        min-width: 100%;
        margin: 0;

        p {
            padding: 0;
        }

        img {
            padding: 1rem 0 0 0;
        }
    }
}


#sec-tt2 {
    background-color: #A5593C;
    padding: 2rem;
}

#sec-tt2 .gB {
    border-right: 2px solid white;
    margin: 5rem 0;
    content: " ";
}

#sec-tt2 h2 {
    color: white;
}


.tt-row2 {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 1rem;
    margin: 0;
    border-radius: 1%;
}

.tt-it2 {
    max-width: 24%;
    min-width: 24%;
    padding: 1rem;
    color: white;

}

#sec-tt2 .newH2 span {
    background-color: white;
    color: white;
}

.tt-row2 h3 {
    padding: 0 0 3rem 0;
}

.divisor {
    width: 3px;
    padding: -3rem;
    height: 5rem;
    margin: 0;
    align-items: end;

}

.cookie {
    position: fixed;
    bottom: 5px;
    width: 100%;
    z-index: 6;
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    text-align: center;
    padding: 30px 0;

    button {
        width: 30%;
        margin: 0 auto;
    }
}

.hidden {
    display: none;
}

#depo {
    background-image: url(imgs/psicoterapia-desfoque.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;

    .backdrop {
        background-color: #000000;
        opacity: 50%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}

.depo-row {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2rem 0;
    gap: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;

}

.depo-it {
    max-width: 21%;
    min-width: 400px;
    background-image: url(imgs/speech\ bubble2.webp);
    background-position: center;
    background-size: 100% 100%;
    border-radius: 5px;
    background-repeat: no-repeat;
    padding: 30px;
    padding-bottom: 95px;
    z-index: 1;
    display: flex;

    div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    p {
        padding: 0 5px;
    }

}

#depo .newH2 {
    padding: 2rem 0;
    z-index: 1;
}

#depo h2 {
    padding: 1rem;
    border-radius: 5px;
    z-index: 1;
    color: white;
}

@media (max-width: 1024px) {
    /* .depo-it {
        max-width: 100%;
        min-width: 100%;
    } */

    #depo .newH2 h2 {
        font-size: 3rem;
    }
}





.wpp {

    z-index: 2;
    /* background-color: red; */
    position: fixed;
    bottom: 0;
    right: 0;
}

.wppImg {
    height: 100px;
    width: 100px;
}

.wppImg:hover {
    height: 110px;
    width: 110px;
}

.carousel-item {
    justify-content: center;


    img {
        margin: 0 auto;
        width: 50%;

        @media (max-width:768px) {
            width: 100%;

        }
    }
}

#carousel {
    /* position: relative; */
    background-color: #A5593C;

    a {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #E8C3A8;
        z-index: 5;

        svg {
            width: 70px;
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));

        }

        &:hover {
            svg {
                width: 80px;
            }
        }


    }
}

/* Menu */
.navbar-nav {
    a {
        font-size: 1.3rem;
        font-family: 'Manjari', 'Mulish', sans-serif;

        &:hover {
            color: #A5593C;
        }
    }
}

.newNav {
    display: flex;
    justify-content: space-between;

    div {
        width: fit-content;
        flex-grow: 0;

        ul {
            display: flex;
            gap: 30px;
            /* justify-content: space-between; */
            width: 100%;

        }
    }
}

/*  Contato */
#contact {
    background-color: rgba(255, 255, 255, 0.6);
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
        width: fit-content;
        color: #A5593C;
        cursor: pointer;

        &:hover {
            color: #E8C3A8;
        }
    }
}

.fale {

    gap: 10px;

    h3 {
        color: #A5593C;
    }

}


/* .social {
    padding: 0 0 50px 0;
    background-color: #D8E3DD;
} */

.form {
    /* background-color: #D8E3DD; */
    padding-bottom: 50px;
}

/*  Footer */
.footer {
    background-color: #A5593C;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
    position: absolute;
    z-index: 4;
}

.footer .row {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-it {
    padding: 20px 0;
    max-width: 31%;
    min-height: 31%;
    color: white;
}


.logoFooter {
    width: 220px;
    height: 120px;
    padding: 0;
}

@media (max-width: 1024px) {
    .footer-it {
        max-width: 100%;
        min-height: 100%;
        text-align: center;
        padding: 5px;

    }
}

.desenvolvido {
    color: white;
    text-decoration: none;

    &:hover {
        color: #E8C3A8;
    }
}

.sepCont {
    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
        width: fit-content;
        color: white;
        cursor: pointer;

        &:hover {
            color: #E8C3A8;
        }
    }
}